/*故事列表样式*/
.listHeader{height:.6rem; background-color:#eceff1; position: relative; z-index:110;}
.listHmain{height:.6rem; background-color:#eceff1; position: relative; z-index:10;}
.sumstory{font-size:.24rem; color:#999; line-height:.6rem; float:left; padding-left:.2rem;}
.listMainBox{padding:0 .12rem; padding-bottom:1rem; transition:.5s all;}
.listMainBox li{padding:0 .1rem; margin-top:.3rem; width:50%; float:left;}
.listMainBox .storyImg{width:100%; height:1.9rem; border-radius:.1rem; position:relative; overflow: hidden;}
.listMainBox .storyImg img{width:100%; height:100%;}
.listMainBox .storyWacth{height:.4rem; background:rgba(0, 0, 0, .5); border-radius:.2rem; color:#FFF; font-size:.2rem; position:absolute; line-height:.4rem; padding-left:.4rem;bottom:.2rem; left:.2rem; display: inline-block; padding-right:.2rem;}
.listMainBox .storyWacth::after{content:'\20'; background:url(../../src/assets/images/dot-watch.png) no-repeat center; width:.4rem; height:.4rem; position:absolute; top:0; left:0; background-size:auto 50%;}
.listMainBox .storyName{width:100%; height:.6rem; line-height:.7rem; font-size:.3rem; color:#000;overflow: hidden;text-overflow: ellipsis; white-space: nowrap;}
.listMainBox .storyName .keyword{color:#00abec;}
.listMainBox .storyInfo{width:100%; height:.4rem;}
.storyInfo .heart,.storyInfo .collection{ height:.3rem; display: inline-block; margin-right:.4rem; font-size:.24rem; color:#666; line-height:.3rem;padding-left:.4rem;}
.storyInfo .heart{background:url(../../src/assets/images/dot-heart.png) no-repeat center left; background-size:auto 80%;}
.storyInfo .collection{background:url(../../src/assets/images/dot-collection.png) no-repeat; background-size:auto 100%;height:.3rem; line-height:.3rem;}
.storyInfo .heart.active{background:url(../../src/assets/images/dot-heart-cur.png) no-repeat center left; background-size:auto 80%;}
.storyInfo .collection.active{background:url(../../src/assets/images/dot-collection-cur.png) no-repeat; background-size:auto 100%;height:.3rem; line-height:.3rem;}
.listHeader .sort{font-size:.24rem; color:#666; float:right; height:.6rem; line-height:.6rem; margin-right:.2rem; padding-right:.3rem; position: relative;}
.listHeader .sort:after{content:'\20'; width:.6rem; height:.6rem; background:url(../../src/assets/images/dot-downarrow.png) no-repeat center right; background-size:auto 20%; position: absolute; top:0; right:0; transition:.3s all;}
.listHeader .sort.active:after{content:'\20'; width:.6rem; height:.6rem; background:url(../../src/assets/images/dot-downarrow.png) no-repeat center right; background-size:auto 20%; position: absolute; top:0; right:0; transform:scale(1,-1);}

/*排序列表*/
.sortList{position:absolute;top:.6rem; left:0; width:100%; background:#FFF;}
.sortList li{ height:.85rem; background:#FFF; width:100%; position: relative; line-height:.85rem; padding:0 .2rem;}
.sortList li.active{ color:#00abec;}
.sortList li.active::after{content:'\20'; width:.85rem; height:.85rem; position: absolute; top:0; right:.2rem; background:url(../../src/assets/images/dot-sel.png) no-repeat center right; background-size:auto 35%;}
.sortList li:active{background:#f0f1f3;}
.slider-enter-active{
    animation-name:slideInDown;animation-duration:.5s;
}
.slider-leave-active{
    animation-name:fadeOutUp;animation-duration:.5s;
}

/*弹层tips*/
/*.layerTips{position:absolute; height:100%; width:100%; z-index:550; text-align: center;}
.hDialog{background:rgba(0, 0, 0, .55); padding:.4rem .6rem; max-width:60%; position: fixed;  text-align: center; top:40%; border-radius:5px;color:#FFF; font-size:.3rem; line-height: .5rem; display: inline-block;}
*/
.tipsBox{display: -webkit-box;display: -ms-flexbox;display:flex;-webkit-box-align: center;align-items: center;-webkit-box-pack: center;justify-content: center; position:absolute; width:100%; height:100%; top: 0; left:0;text-align:center;}
.layerTips{position:absolute; height:100%; width:100%; z-index:550; text-align: center;}
.hDialog{background:rgba(0, 0, 0, .55); padding:.4rem .6rem; max-width:60%; max-height:4rem; overflow: hidden;  border-radius:5px;color:#FFF; font-size:.3rem; line-height: .5rem; text-align: center;}
.tipIcon{width:.7rem; height:.7rem; background:url(../../src/assets/images/dot-layer-icon.png) no-repeat center; display: inline-block; background-size:100% 100%;}

/*一般性弹层*/
.layer{position:absolute; z-index:550;}






















